<div class="card">
  <h4 class="card-header">AboutAppliaction ToUTools</h4>
  <div class="card-block">
    <ul>
      <li><b>Author:</b> <a href="https://github.com/SukanyaSaensong" target="_blank">Sukanya Sansong</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/SukanyaSaensong/MyAngularFullStack" target="_blank">project repository</a></li>
      <li><b>รายละเอียด แอปพลิเคชัน ToUTools</b></li>
      <p>1) สามารถสมัครสมาชิกได้</p>
      <p>2) สามารถค้นหาเครื่องมือที่ต้องการเช่าได้</p>
      <p>3) สามารถค้นหาแบบละเอียด โดยการค้นตามหมวดหมู่ คนหาเครื่องมือที่อยู่ใกล้เคียง
      และค้นหาตามราคาที่ต้องการได้</p>
      <p>4) สามารถดูรายการประกาศทั้งหมดของผู้ให้เช่าได้</p>
      <p>5) สามารถบันทึกรายการโปรด เพื่อเรียกดูในภายหลัง</p>
    </ul>
  </div>
</div>
